streamlit
# utilities
numpy
pandas

# face Recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

# Database
supabase==2.5.0
bcrypt

segno
pillow

librosa
resemblyzer